In [1]:
import pandas as pd 
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

# Import & Clean Data

In [2]:
raw_df = pd.read_csv("DA_Race_Turnout.csv")

In [4]:
raw_df

,Unnamed: 0,Unnamed: 0.1,WP,CARVALHO,CHAMPION,HENNING,McAULIFFE,ROLLINS,OTHERS,VOTES_CAST,...,Other Race Percentage,Two or more races Percentage,Hispanic Percentage,White Percentage,White plurality (Y/N),Black plurality (Y/N),Hispanic plurality (Y/N),Asian plurality (Y/N),Turnout,Rollins Percentage
0,0,0,0101,49,17,68,45,138,1,318,...,10.075713,3.494467,29.295282,79.732091,Y,N,N,N,0.230117,39.093484
1,1,1,0102,46,12,27,18,66,0,169,...,16.948334,4.538870,51.810719,73.394495,Y,N,N,N,0.173214,34.020619
2,2,2,0103,95,53,54,44,174,2,422,...,15.539478,5.662158,41.333753,62.566845,Y,N,N,N,0.188002,35.365854
3,3,3,0104,34,13,21,11,45,2,126,...,29.458599,6.581741,63.853503,58.227176,N,N,Y,N,0.141026,31.468531
4,4,4,0105,40,18,50,23,67,0,198,...,31.024931,5.297784,57.617729,57.444598,N,N,Y,N,0.171131,29.130435
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
250,250,250,1819,81,146,142,40,182,2,593,...,7.671550,3.392444,18.003084,40.323824,N,Y,N,N,0.234989,28.706625
251,251,251,1821,169,89,41,8,147,3,457,...,5.804625,2.925908,11.184521,5.238320,N,Y,N,N,0.243844,29.108911
252,252,252,1823,66,56,35,38,93,0,288,...,12.384937,2.677824,25.523013,21.338912,N,Y,N,N,0.231241,27.433628
253,253,253,0502A,36,24,29,24,55,2,170,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.777778
254,254,254,2213,41,8,49,30,62,0,190,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.228160,27.927928

<h3> Drop columns that are useless/unknown </h3>

In [6]:
drop_columns = ['Unnamed: 0', 'Unnamed: 0.1'] #unidentified/unknown columns (what it represents)
drop_columns += ['Ward', 'Precinct'] #WP == WARD and Precinct == WP
drop_columns += ['Total.1'] #Total == Total.1; infer that total means the # of people in the precinct

drop_columns.append('TOTAL') #VOTES_CAST == TOTAL; therefore VOTES_CAST --> "TOTAL VOTES CAST"
rename_columns={'VOTE CAST': 'VOTE_CAST', 'BALLOTS CAST': 'BALLOTS_CAST'} #rename for better representation

In [7]:
def clean_columns(df, drop_columns=[], rename_columns={}):
    new_df = df.drop(drop_columns, axis=1)
    return new_df.rename(columns=rename_columns)

In [9]:
clean_df = clean_columns(raw_df, drop_columns, rename_columns)

In [10]:
clean_df.head()

,WP,CARVALHO,CHAMPION,HENNING,McAULIFFE,ROLLINS,OTHERS,VOTES_CAST,BLANKS,BALLOTS_CAST,...,Other Race Percentage,Two or more races Percentage,Hispanic Percentage,White Percentage,White plurality (Y/N),Black plurality (Y/N),Hispanic plurality (Y/N),Asian plurality (Y/N),Turnout,Rollins Percentage
0,0101,49,17,68,45,138,1,318,35,353,...,10.075713,3.494467,29.295282,79.732091,Y,N,N,N,0.230117,39.093484
1,0102,46,12,27,18,66,0,169,25,194,...,16.948334,4.538870,51.810719,73.394495,Y,N,N,N,0.173214,34.020619
2,0103,95,53,54,44,174,2,422,70,492,...,15.539478,5.662158,41.333753,62.566845,Y,N,N,N,0.188002,35.365854
3,0104,34,13,21,11,45,2,126,17,143,...,29.458599,6.581741,63.853503,58.227176,N,N,Y,N,0.141026,31.468531
4,0105,40,18,50,23,67,0,198,32,230,...,31.024931,5.297784,57.617729,57.444598,N,N,Y,N,0.171131,29.130435

<h3> Focus on